$fond: #ac4249;
$degrade :#1b2125;
$bouton :#3c1823;
$texte  :#fae5e7;  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    color: $bouton;
}

span{
    color:$texte;
}

a{
    color:$texte;
    text-decoration: none;
}
a:hover{
    color:$fond;
    text-decoration: none;
}

button{
    margin:10px;
    padding : 10px;
    color: $texte;
    size-adjust: 1fr;
    background-color:#ac4249;
    align-items: center;
    justify-content: center;;
    border: 2px solid $fond;
    border-radius:5px;
    cursor: pointer;
}
header,navbar{
    position: fixed;
    width:100%;
    height:60px;
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    
}

footer{
    
    background: radial-gradient(circle,$fond 0% , $degrade 85% );
    background-position: -150px;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:30px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.nav {
color: $texte;
text-decoration: none;
&:hover{
    color:$fond;
    text-decoration: none;
}
}

.container{
    margin-top: 60px;
    display : grid;
    background-color: $texte;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat 200px;
    height: auto; 
    //grid-template-areas: 
    //    "card1 card2 card3 card4 card5"
    //    "card6 card7 card8 card9 card10"; 
    gap: 0px 0px; 
    justify-content:space-evenly;
    align-items: baseline;
}
form{
    margin:10px;
    padding : 10px;
    color: $fond;
    
    border: 2px solid #1b2125;
    border-radius:5px;
    background-color: $texte; }

img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.vignette{
    width:200px;
    height:100px;
    background-size: cover;
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.car10
{   object-fit: contain;
    background-size: cover;
    max-width: 100%;
    height:auto;
    margin:10px;
    padding : 10px;
    color: $fond;
    
    border: 2px solid $fond;
    border-radius:5px;
    background-color: $texte; }

@media (max-width:800px) {
    .container{grid-template-columns: 1fr 1fr;
         
     }
    
}
@media (max-width:200px){
    .container{grid-template-columns: 1fr;
    }
}
 
  

