$fond: #ac4249;
$corpstexte :#1b2125;
$bouton :#3c1823;
$couleurtexte  :#fae5e7;  

body{
    color: $fond;
   
}

span{
    color:$couleurtexte;
}

button{
    margin:10px;
    padding : 10px;
    color: #fae5e7;
    background-color:#ac4249;
    align-items: center;
    justify-content: center;;
    border: 2px solid $fond;
    border-radius:5px;
    
}
header,navbar,footer{
    height:60px;
    background: radial-gradient(circle,$fond 0% , $corpstexte 85% );
    background-position: -150px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    
}

a{
color: $couleurtexte;
text-decoration: none;
}
a:hover{
    color:$fond;
    text-decoration: none;
}
.container{
    display : grid;
    background-color: $couleurtexte;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat 200px;
    height: auto; 
    //grid-template-areas: 
    //    "card1 card2 card3 card4 card5"
    //    "card6 card7 card8 card9 card10"; 
    gap: 0px 0px; 
    justify-content:space-evenly;
    align-items: baseline;
}
form{
    margin:10px;
    padding : 10px;
    color: $fond;
    
    border: 2px solid #1b2125;
    border-radius:5px;
    background-color: $couleurtexte; }


.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8,.card9,.car10
{   margin:10px;
    padding : 10px;
    color: $fond;
    
    border: 2px solid $fond;
    border-radius:5px;
    background-color: $couleurtexte; }

@media (max-width:800px) {
    .container{grid-template-columns: 1fr 1fr;
         
     }
    
}
@media (max-width:200px){
    .container{grid-template-columns: 1fr;
    }
}
 
  

