{% extends "base.twig" %}
{% block pagetitle %}liste des annonces
{% endblock %}
{% block CSS %}{% endblock %}
{% block body %}
	<h1>Mes annonces</h1>
	{% for annonce in annonces %}
		<h1>{{ annonce.titre }}</h1>
		<h2>{{ annonce.prix }}€</h2>
	{% endfor %}
{% endblock %}

