{% extends "base.twig" %}
{% block pagetitle %}Ajout d'une Annonce
{% endblock %}
{% set compteur=1 %}

{% block header %}
	<navbar baseurl="http://localhost/projet4/dev/">
		<a href="http://localhost/projet4/dev/">LOGO</a>
		<span>SLOGAN</span>
		<a href="http://localhost/projet4/dev/">RETOUR</a>
	</navbar>
{% endblock %}

{% block recherche %}{% endblock %}
{% block body %}
	<form action="" method="post">
		<div class="card">
			<label for="titre">Titre:
			</label>
			<input type="text" name="titre" id="titre" placeholder="Titre de l'annonce" required>
			<label for="categorie">Catégorie:
			</label>
			<input type="text" name="categorie" id="catégorie" placeholder="categorie" required>
			<label for="prix">Prix:
			</label>
			<input type="float" name="prix" id="prix" placeholder="prix" required>
		</div>
		<div class="card">
			<label width="200" for="description">Description:</label>
			<textarea type="description" name="description" id="description">Description de l'annonce</textarea>
			<label for="mail">Email:</label>
			<input type="mail" name="mail" id="mail" placeholder="email pour vous joindre" required>
		</div>
		<div class="container">
			{% for i in 1..5%}
				<div class="card">
					<label for="image{{i}}">Photo:
					</label>
					<input type="file" name="image{{ i }}" id="image{{i}}" onchange="">
				</div>
			{% endfor %}
			<div class="button">
				<button type="submit">Envoyer</button>
				<button type="reset">Annuler</button>
			</div>
		</form>
	</div>
{% endblock %}
{% block footer %}
	<footer></footer>
{% endblock %}

