<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block css %}<link rel="stylesheet" href="../public/css/style.css">
{% endblock %}
<title>

{% block pagetitle %}{% endblock %}</title>



	</head>
	<body>
{% block header %}{% endblock %}
{% block recherche %}{% endblock %}

{% block body %}{% endblock %}


{% block footer %}{% endblock %}


	</body>
</html>

